/* doit_esp32_devkit_v1/esp32/procpu */

&spi3 {
	pinctrl-0 = <&spim3_default>;
	pinctrl-names = "default";
	clock-frequency = <DT_FREQ_M(10)>;
	cs-gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;

	ethernet0: enc28j60@0 {
		compatible = "microchip,enc28j60";
		label = "enc28j60";
		reg = <0x0>;
		spi-max-frequency = <DT_FREQ_M(10)>;
		int-gpios = <&gpio0 21 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		local-mac-address = [02 00 00 01 02 03];
		status = "disabled";
	};

	ethernet1: w5500@1 {
		compatible = "wiznet,w5500";
		label = "w5500";
		reg = <0x0>;
		spi-max-frequency = <DT_FREQ_M(10)>;
		int-gpios = <&gpio0 21 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		reset-gpios = <&gpio0 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		local-mac-address = [00 00 00 01 02 03];
		status = "okay";
	};
};